@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@200..700&family=Playwrite+IN+Guides&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #333;
  --secondary-color: #f7f7f7;
  --tershary-color: #f8101031;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background:var(--tershary-color);
}

.logo a {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.5rem;
  text-shadow: 0 0 5px rgba(255, 65, 108, 0.5);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links li a {
  font-size: 1.2rem;
  text-decoration: none;
  color:var(--primary-color);
}
.nav-links li a:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Mobile View */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 0;
    background: var(--secondary-color);
    width: 200px;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
/* section */
.hero {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 0%;
  padding: 20px;
  background-color: #f4f4f4;
}
.hero .content {
  padding: 0.5%;
}
.hero .content h1 {
  font-size: 2rem;
  margin-bottom: 1%;
}
hero .content h2 {
  margin-bottom: 1%;
  font-size: 1.5 rem;
}
.hero .content h2 span {
  font-size: 1.3 rem;
  margin-bottom: 1%;
  animation: H1spananimi 2s ease-in-out infinite;
}

@keyframes H1spananimi {
  0% {
    color: var(--primary-color);
  }
  25% {
    color: #e89595;
  }
  50% {
    color: #eb17eb;
  }
  75% {
    color: #c7f511;
  }
  100% {
    color: #1ba3ed;
  }
}
.hero .content p {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.hero .content button {
  padding: 0.5% 1.3%;
  margin: 2rem;
  background-color: var(--primary-color);
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 5px 0 #222;
}
.hero .content button a {
  text-decoration: none;
  color: var(--secondary-color);
}
.hero .content button:hover {
  background-color: coral;
}

.hero .content button:active {
  transform: translateY(10px);
  box-shadow: 0 0 0 #222;
}
/* .social-icons {
    margin-top: 2rem;
} */

.social-icons a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem;
  border-radius: 4.5rem;
  background: #eee;
  text-decoration: none;
  overflow: hidden;
  transition: width 0.4s ease;
}

/* Icon */
.social-icons a i {
  font-size: 1.5rem;
  color: #333;
  padding: 0.3rem;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 3px 3px rgb(12, 12, 12);
  transition: margin 0.4s ease;
}

/* Hidden Text */
.social-icons a::after {
  content: attr(title);
  position: absolute;
  right: 15px;
  opacity: 0;
  font-size: 1.2rem;
  color: #000000;
  transition: opacity 0.3s ease;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Hover Expand */
.social-icons a:hover {
  width: 170px;
  background-color: aqua;
  color: var(--secondary-color);
  border: 2px solid rgb(0, 81, 255);
  box-shadow: 3px 3px rgb(12, 12, 12);
}

/* Show Title */
.social-icons a:hover::after {
  opacity: 1;
}

/* Move Icon */
.social-icons a:hover i {
  margin-right: 5rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .hero {
     perspective: 1000px; 
 } */

.img-container img {
  width: 20rem;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0px 0px 30px rgb(12, 12, 12);
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  animation: float3d 4s ease-in-out infinite;
}

/* Floating animation */
@keyframes float3d {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }

  50% {
    transform: rotateY(15deg) translateY(-20px);
  }

  100% {
    transform: rotateY(0deg) translateY(0px);
  }
}

/* Hover tilt effect */
.img-container img:hover {
  transform: rotateY(180deg) scale(1.1);
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    flex-direction: column-reverse;
  }
  .img-container {
    margin-top: 20px;
  }
    .hero .content button{
      margin: 0.5rem;
      margin-top: 1.5rem;
      font-size: 1rem;
    }
      .social-icons {
        font-size: 1rem;
        margin: 0.5rem;
        }
}

/* ABOUT SECTION */
#aboutpage {
  padding: 60px 20px;
  background-color: #f8101031;
  text-align: center;
}

#aboutskill {
  font-size: 2rem;
  margin-bottom: 20px;
}

#aboutskill::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 10px auto;
}

#aboutpage .paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 900px;
  margin: auto;
}

#aboutpage button,
.btn {
  margin: 2rem auto;
  padding: 0.5% 1.3%;
  background-color: var(--primary-color);
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 5px 0 #222;
  text-align: center;
}

#aboutpage button a,
.btn a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* SKILLS SECTION */
#total-skills {
  padding: 80px 20px;
  text-align: center;
}

#myskills {
  font-size: 2rem;
  margin-bottom: 40px;
}

#myskills::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 10px auto;
}

.total-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.skill {
  width: 280px;
  min-height: 200px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.skill:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skill i {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.skill h3 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.skill p {
  font-size: 1rem;
  text-align: center;
}

/* EDUCATION SECTION */
#education-field {
  padding: 80px 20px;
  background-color: #f8101031;
  text-align: center;
}

#educationpage {
  font-size: 2rem;
  margin-bottom: 40px;
}

#educationpage::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 10px auto;
}

.education {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.edu {
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.edu:hover {
  transform: translateY(-5px);
}

.edu h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.edu p {
  font-size: 0.95rem;
}
#contactpage {
  padding: 80px 20px;
  text-align: center;
  background-color: #f4f4f4;
  gap: 20px;
}
#contactpage h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

#contactpage h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 10px auto;
}
#contactgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  align-items: start;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-info p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: justify;
  font-family: "Oswald", sans-serif;
}
.contact-info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.contact-info li {
  list-style: none;
  font-size: 1rem;
  text-align: left;
  line-height: 1.4;
}
.contacticon {
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 0.3rem;
  border-radius: 50%;
  margin: 0.1rem;
}
.contacticon:hover {
  background-color: aqua;
  color: var(--secondary-color);
  border: 2px solid rgb(0, 81, 255);
  box-shadow: 3px 3px rgb(12, 12, 12);
}
.contact-info li a:hover {
  text-decoration: underline;
}
.contact-info li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
}

#contactform {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8101031;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type="submit"] {
  padding: 0.5% 1.3%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 5px 0 #222;
}

@media screen and (max-width: 768px) {
  #contactgrid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

#intership {
  padding: 80px 20px;
  text-align: center;
  background-color: #f8101031;
}
.intershipdheading {
  font-size: 2rem;
  margin-bottom: 40px;
}
.intershipdheading::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 10px auto;
}
.internship{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.intershipcard{
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.intershipcard:hover {
  transform: translateY(-5px);
}
.intershipcard h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
}
.intershipcard p {
  font-size: 0.95rem;
  text-align: justify;
}
.contact-info input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}


projects {
  text-align: center;
  background-color: #f8101031;
}
.projectrecord {
  padding: 80px 20px;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}
.projectrecord::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 10px auto;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
}
.footerpara {
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-wrap: wrap;
}
.footerpara p {
  margin: 0;
  font-size: 1.5rem;}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
}

footer a .fa-arrow-up {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 50%;
}
footer a .fa-arrow-up:hover {
  transform: translateY(-5px);
  background-color: coral;
  color: var(--secondary-color);
  border: 2px solid rgb(0, 81, 255);
  box-shadow: 3px 3px rgb(12, 12, 12);
}

.togglearrow a{
  position: fixed;
  top: 50%;
  font-size: 2rem;
  color: var(--tershary-color);
  background-color: var(--secondary-color);
}
.Project{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 1rem;
}
.ProjectDiv{
  border: 2px solid black;
  padding: 1.5rem;
  border-radius: 12px;
  background-color: var(--secondary-color);
  width: 25rem;
  margin-bottom: 3%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.ProjectDiv:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}
.ProjectDiv h2{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.ProjectDiv p{
  font-size: 1rem;
  text-align: justify;
}
.ProjectDiv button{
  padding: 1rem ;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}
.ProjectDiv a{
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
.ProjectDiv button:hover{
  background-color: coral;
  color: var(--secondary-color);
  border: 2px solid rgb(0, 81, 255);
  box-shadow: 3px 3px rgb(12, 12, 12);
}
.projectrecord .projects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.projectrecord .projects .ProjectDiv{
  width: 300px;
}
.ProjectDiv span{
  display: inline-block;
  background-color: var(--tershary-color);
  color: var(--primary-color);
  padding: 0.3rem 0.6rem;
  margin-top: 1rem;
  border-radius: 5px;
}