*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#333;
    --secondary-color:#f7f7f7;
    

}
header{
    position: fixed;
    top: 0%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    padding: 2px;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}
header nav div a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
}
header nav div a:hover{
    border:2px solid aqua;
    border-radius: 10% 20%;
}
header nav li{
    margin: 2%;
}
header nav li a{
    text-decoration: none;
    font-size: 1.5 rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.menu.toggle{
    font-size: 2rem;
    color: var(--secondary-color);
    display: none;
}
@media screen and (max-width: 500px) {
    nav div a{
        display: none;
    }
    header nav li{
        margin: 1%;
    }
    header nav{
        display: flex;
        flex-direction: column;
        color: white;
        background-color: rgba(100, 100, 100, 0.5);
    }
}

 /* section */
 .hero{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    display: grid;
   grid-template-columns: repeat(2,1fr);   
   margin-top: 5%;
   padding: 20px;
   background-color: #f4f4f4;
 }
 .hero .content{
    max-width: 60%;
 }
